<aside>
	<div class="panel radius">
		<h3>Approach</h3>
		<p>
			We take an integrative and dynamical approach to experimental design & probabilistic modelling. Starting with an initial design, we propose probabilistic models that are then updated with improved experimental design, and so on. Our goal is to increase the number and quality of measurements in the experiments and hence the quality of inference in the modelling and analysis steps downstream. 
		</p>
	</div>
	
	<div class="border-solid radius b50">
		<img src="/igmm_soi/images/integrative_approach.jpg">
	</div>

	<div style="height:12px;"></div>

	<div class="b30">
		<img src="/igmm_soi/images/louis-reed-pwcKF7L4-no-unsplash.jpg">
		<p class="text-left" style="color:grey;font-size:10px;">
			<a href="https://unsplash.com/photos/pwcKF7L4-no">An unsplash photo</a>
		</p>
	</div>

</aside>