<aside>
	<div class="panel radius">
		<h3>Approach</h3>
		<p>
			We take an integrative and dynamical approach to experimental design & probabilistic modelling. Starting with an intial design, we propose probabilistic models that are then updated with improved experimental design, and so on. Our goal is to increaes the number and quality of measurements in the experiments and hence the quality of inference in the modelling and analyses steps downstream. 
		</p>
	</div>
	
	<div class="border-soild radius b50">
		<img src="/igmm_soi/images/integrative_approach.jpg" alt="test">
	</div>

  <img class="b30" src="https://github.com/edinburgh-biomedical-ai/igmm_soi/blob/gh-pages/images/integrative_approach.jpg" alt="">


	<div class="b30">
		<img src="/igmm_soi/images/gallery-example-1-thumb.jpg" alt="dynamical approach" style="width:500px;height:600px;">
	</div>

</aside>